.img-display {
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}
.img-wrap {
  overflow: hidden;
  height: 70px;
  padding: 50% 0;
  /* padding controls height, will always be perfectly square regardless of width */
  position: relative;
  opacity: 0.8;
  background-color: #ebc8c5;
  border-radius: 8px;
  box-shadow: 0px 18px 53px 0px rgba(0, 0, 0, 0.3);
  /* box-shadow: 5px 5px 5px 5px grey; */
}

.img-wrap img {
  width: 100%;
  min-height: 89%;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  border: "2px solid gray";
}

@media only screen and (max-width: 600px) {
  .likes {
    margin-top: 50.5%;
  }
  .likes .likes-icon {
    font-size: 30px;
  }
  .likes p {
    font-size: 15px;
  }

  .img-wrap {
    padding: 30% 0;
    height: 90px;
  }
  .img-wrap img {
    min-height: 75%;
  }
}
