.img-display {
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}

.delete-image {
  position: absolute;
  top: 1%;
  right: 1%;
  font-size: 18px;
  z-index: 999;
  padding: 2px 7px;
  font-weight: 900;
  background: #ebc8c5;
  cursor: default;
  border-radius: 10%;
}

.delete {
  visibility: hidden;
  font-size: 15px;
  position: absolute;
  top: 110%;
  right: 0.002%;
  z-index: 1;
  color: rgb(195, 217, 7);
}

.delete-image:hover .delete {
  visibility: visible;
}

.img-wrap {
  overflow: hidden;
  height: 70px;
  padding: 50% 0;
  /* padding controls height, will always be perfectly square regardless of width */
  position: relative;
  opacity: 0.8;
  background-color: #ebc8c5;
  border-radius: 8px;
  box-shadow: 0px 18px 53px 0px rgba(0, 0, 0, 0.3);
  /* box-shadow: 5px 5px 5px 5px grey; */
}

.img-wrap img {
  width: 100%;
  min-height: 89%;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  border: "2px solid gray";
}
.p-likes {
  font-size: 22px; padding :10px; padding-top:5px;
}

.likes-share {
  display: flex;
  justify-content: space-between;
  padding-top: 52.5%;
  padding-left:2%;
}
.test {
  display:flex;
  justify-content: flex-end;
}
.test .social-share-wrap {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24);
  visibility: hidden;
  position: absolute;
  right: 6%;
  bottom: 1.22%;
  background-color: rgb(172, 168, 168);
  padding: 7px 5px 2px 6px; /*top right bottom left*/
  border-radius: 9px;
  text-align: center;
  z-index: 2;
}

.share-wrap {
  display: flex;
}

.test:hover .social-share-wrap {
  visibility: visible;
}
#window.confirm {
  background-color: aquamarine;
}
#alertBox {
  background-color: aqua;
}

.likes-icon {
  font-size: 160px;
  /* padding: 7px 16px; */
  /* color: lightcoral; */
  cursor:pointer;
}

.likes-share-first-div{
  display:flex;
}

@media only screen and (max-width: 600px) {
  .likes-share {
    margin-top: 40%;
  }

  .MuiSvgIcon-root {
    
    font-size: 1.2rem;
  }

  .p-likes {
    font-size: 10px;
    color:purple;
  }

  .img-wrap {
    padding: 30% 0;
    height: 15vh;    
    width: 27vw;
  }
  .img-wrap img {
    min-height: 75%;
  }

  .img-display {
    grid-gap: 16px;
  }
  .delete-image {
    font-size: 12px;
    padding: 0.8px 3px;
  }
  .p-likes {
    padding-top:0px;
    font-size: 16px; 
    padding :5px;
  }
}
