form {
  margin: 30px auto 10px;
  text-align: center;
}

label input {
  height: 0;
  width: 0;
  opacity: 0;
}

label {
  display: block;
  width: 350px;
  height: 40px;
  border: 1px solid var(--primary);
  border-radius: 8px;
  margin: 10px auto;
  line-height: 30px;
  color: var(--primary);
  font-weight: bold;
  font-size: 24px;
  cursor: pointer;
  padding-top: 6px;
}

label:hover {
  background: var(--primary);
  color: white;
}

.output {
  height: 60px;
  font-size: 0.8rem;
}

.error {
  color: var(--error);
}
